spring:
  datasource:
    #    url: jdbc:postgresql://ep-solitary-voice-ahq6wtae-pooler.c-3.us-east-1.aws.neon.tech/neondb
    url: jdbc:postgresql://localhost:5432/product
    username: ${USER_NAME}
    password: ${USER_PASSWORD}
  #    password: npg_TQbYCK6s3iRU
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    username: guest
    password: guest
    host: localhost
    port: 5672


management:
  endpoints:
    web:
      exposure:
        include: '*'
  tracing:
    sampling:
      probability: 1.0
server:
  port: 8082
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    eureka-server-port: 8761
    service-url:
      defaultZone: http://localhost:8761/eureka/
logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7