spring:
  datasource:
    #    url: jdbc:postgresql://ep-solitary-voice-ahq6wtae-pooler.c-3.us-east-1.aws.neon.tech/neondb
    url: jdbc:postgresql://localhost:5432/product
    username: ${USER_NAME}
    password: ${USER_PASSWORD}
  #    password: npg_TQbYCK6s3iRU
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    username: guest
    password: guest
    host: localhost
    port: 5672


management:
  endpoints:
    web:
      exposure:
        include: '*'
server:
  port: 8082
