spring:
  rabbitmq:
    username: guest
    password: guest
    host: localhost
    port: 5672
  mongodb:
    uri: mongodb://localhost:27017/user_db
  #      uri: mongodb+srv://elyasahmadiiran2022_db_user:UFBzBaOw205rOuYw@cluster0.7wxj3ln.mongodb.net/?appName=Cluster0
server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: '*'