spring:
  application:
    name: configserver
  profiles:
    active: native
  rabbitmq:
    port: 5672
    host: localhost
    username: guest
    password: guest
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:\java-application-ecom\configserver\src\main\resources\config

server:
  port: 8888
management:
  endpoints:
    web:
      exposure:
        include: '*'